body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container{

  .login-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .title{
      text-align: center;
      font-size: 23px;
      font-weight: 700;
      padding-top: 30px;
      color: rgb(22, 24, 35);
      font-size: 32px;
      margin: 16px auto;
      font-weight: bold;

    }
    .text{
      color: rgb(22, 24, 35);
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 5px;
    }

    input{
      margin-bottom: 7px;
      border-radius: 2px;
      background-color: rgba(22, 24, 35, 0.06);
      border: 1px solid rgba(22, 24, 35, 0.12);
      padding-inline-start: 12px;
      color: rgb(22, 24, 35);
      line-height: 100%;
      outline: none;
      font-size: 16px;
      height: 44px;
      caret-color: rgb(254, 44, 85);
      width: 100%;
      padding-inline-end: unset;

      &:hover{
        background-color: #dedede;
       
      }
    }

    button{
      margin-top: 15px;
      font-weight: 600;
      border-radius: 4px;
      padding: 8px 5px;
      border: none;
      color: rgba(22, 24, 35, 0.34);
      background-color: rgba(22, 24, 35, 0.06);
      // pointer-events: none;

      &:active{
        color: #ffff;
        background-color: #fe2c55;
      }
    }

    .back{
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      margin-top: 40px;


      i{
        font-size: 13px;
        padding-right: 5px;
      }
    }
    
  }
}
